@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
    /* #333 짙은 회색 */
    font-family: 'Pretendard-Regular';
}

.inner {
    max-width: 1280px;
    width: calc(100% - 30px);
    margin: 0 auto;
}

.header {
    height: 105px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: #333 1px solid;
}

.header nav ul {
    display: flex;
    justify-content: space-between;
}

.header nav ul li {
    margin: 0 50px;
    font-size: 16px;
}

.salon {
    margin: 0 auto;
    margin-top: 105px;
    margin-bottom: 100px;
}

.salon .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.salon .logo .img01 {
    width: 718px;
    height: 108px;
    margin-bottom: 35px;
}

.salon .logo .img01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.salon .logo .img02 {
    width: 206px;
    height: 41px;
}

.salon .logo .img02 img {
    width: 100%;
    height: 100%;
}

.salon .mySwiper .swiper-wrapper .swiper-slide {
    margin: 0 auto;
}

.program {
    margin: 0 auto;
    margin-bottom: 100px;
}

.program .inner {
    display: flex;
    justify-content: space-between;
}

.program .left {
    width: 700px;
}

.program .left .box01 {

    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
}

.program .left .box01 .text h1 {
    font-family: 'yg-jalnan';
    padding-bottom: 10px;
}
.program .left h2 {
    font-family: 'yg-jalnan';
}
.program .left .box02 {

    display: flex;
    border: 1px solid #4478FF;
    border-radius: 25px;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 15px;
}

.program .left .box02 h2 {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #4478FF;
    color: #eee;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    margin-right: 20px;
}

.program .left .box02 .text02 h1 {
    font-size: 18px;
}

.program .left .box02 .text02 p {
    font-size: 16px;
}

.program .left .box03 {
    display: flex;
    border: 1px solid #4478FF;
    border-radius: 25px;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 15px;
}

.program .left .box03 h2 {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #4478FF;
    color: #eee;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    margin-right: 20px;
}

.program .left .box03 h1 {
    font-size: 18px;
}

.program .left .box03 p {
    font-size: 16px;
}

.program .left .box03 {

    display: flex;
    border-radius: 25px;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 15px;
}

.program .left .box04 {
    display: flex;
    border-radius: 25px;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 15px;
    border: 1px solid grey;
}

.program .left .box04 h2 {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #C1C6D0;
    color: #eee;
    font-size: 18px;
    text-align: center;
    line-height: 80px;
    margin-right: 20px;
}

.program .left .box04 h1 {
    font-size: 18px;
}

.program .left .box04 p {
    font-size: 16px;
}

.program .right figure {
    width: 350px;
}

.program .right figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe {
    margin: 0 auto;
    margin-bottom: 100px;
}

.recipe h1 {
    font-family: 'yg-jalnan';
    font-size: 45px;
    margin-bottom: 15px;
}

.recipe .inner h1 {
    text-align: center;
}

.recipe p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
}
.recipe .photo {
    display: flex;
    justify-content: space-between;
}
.recipe .photo .small {
    display: flex;
}
/* .recipe .photo .line01 {
    width: 50%;
}
.recipe .photo .line01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recipe .photo .line02 {
    width: 50%;
}
.recipe .photo .line02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.recipe .photo .small img {
    padding: 10px;
}

.now {
    margin: 0 auto;
}

.now .header {
    display: flex;
    justify-content: space-between;
}
.now .header h1 {
    font-family: 'yg-jalnan';
}
.now .header .menu02 ul {
    display: flex;
    justify-content: space-between;
}

.now .header .menu02 ul li {
    margin-left: 26px;
}

.now .box-01 {
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 25px;
    margin-top: 30px;
    padding: 0 50px;
}

.now .box-02 {
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 25px;
    margin-top: 30px;
    padding: 0 50px;
}

.now .box-03 {
    justify-content: space-between;
    display: flex;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 25px;
    margin-top: 30px;
    padding: 0 50px;
}

.sns {
    width: 345px;
    height: 53px;
    margin: 90px auto;
}

.sns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer {
    width: 100%;
}
.footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:960px) {
    .header {
        height: 100px;
    }

    .header nav {
        display: none;
    }

    .salon .logo {
        display: inline-block;
    }
    
   /*  .recipe .photo .line02 {
        display: inline-block;
    } */
    .recipe .photo .line03 {
        display: none;
    }
    .mySwiper {
        
    }



}

@media screen and (max-width:390px) {
    .header {
        height: 65px;
    }

    .header nav {
        display: none;
    }

    .program .inner .right {
        display: none;
    }
}